@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

body {
  background-color: #a9bed9;
  font-family: Roboto Slab, sans-serif !important;
}

.boton-login {
  background-color: #337ab8;
  color: #ffffffff;
  border-radius: 0.6rem;
  padding: 0.5rem;
}

.boton-card-sabermas{
  background-color: #ffffff;
  color: #243b55 !important;
  border-radius: 0.6rem;
  border-width: 2px;
  border-color: rgb(255, 132, 0);
}


.card-anuncio{  
  font-family: Roboto Slab, sans-serif !important;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  margin-top: 3rem;   
  cursor: pointer;
}

#filtro-form{
 font-size: large;
 font-weight: 600;  
}

.card-img-top {
  height: 200px; /* Ajusta este valor según necesites */
  object-fit: cover; /* Esto asegura que la imagen cubra el espacio sin distorsionarse */
}

@media (width >=1200px){
  .carousel-img-wyh{    
    height:700px;
    object-fit: cover;
  }
}

@media (max-width: 991px) {
  .boton-login {
    display: block;
    margin: 0 auto; /* Esto centra horizontalmente el botón */
    text-align: center; /* Esto centra el texto del botón */
  }
}